/* .bg{
  background: linear-gradient(rgba(223, 222, 222, 0.452), rgba(0,0,0,.7)), url("IMG_0247.jpeg");
  color: #fff;    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: linear-gradient(rgba(223, 222, 222, 0.452), rgba(0,0,0,.7)), url("IMG_0247.jpeg");
  color: #fff;    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.aboutMain {
  opacity:.9;
}









